
cv-switch/sakelar.cfg
cv-switch/sakelar.cci
cv-switch/sakelar.cof
cv-switch/sakelar.fct
cv-switch/Debug/sakelar.sym1
cv-switch/Debug/sakelar.sym2
cv-switch/Debug/sakelar.sym3
cv-switch/Debug/sakelar.cof
cv-switch/Debug/sakelar.obj
cv-switch/Debug/sakelar.str1
cv-switch/Debug/List/sakelar.map
cv-switch/Debug/List/sakelar.lst
cv-switch/Debug/List/sakelar.asm
cv-switch/Debug/Link/string.ol
cv-switch/Debug/Link/string.al
cv-switch/Debug/Link/stdio.ol
cv-switch/Debug/Link/stdio.al
cv-switch/Debug/Link/sakelar.o
cv-switch/Debug/Link/sakelar.a
cv-switch/Debug/Link/ctype.ol
cv-switch/Debug/Link/ctype.al
cv-switch/Debug/Exe/sakelar.rom
cv-switch/Debug/Exe/sakelar.hex
cv-switch/Debug/Exe/sakelar.elf
cv-switch/sakelar.txt
*.sym3
*.sym2
*.sym1
*.cci
*.cof
*.c~
*.elf
*.hex
*.rom
*.map
*.lst
*.exe
*.o
udp-server/build/Debug/Cygwin-Windows/main.o.d
*.d
*.cbi
*.atsln
*.fct
*.prj~
cv-kendali-motor/kendali.txt
*.ol
*.al
*.obj
*.str1
*.a
cv-kendali-motor/Debug/List/kendali.asm
*.stackdump
simulasi-filter-digital/arduino-createdata/nbproject/Package-Release.bash
*.bash
*.raw
